@{
}

@model ShopProducts

<h3>Товары в магазине</h3>
<div>
    @foreach (var prod in @Model.Products)
    {
        <div>
            <div>@prod.Title</div>
            <div>
                <img width="100" src="@Url.Action("GetProposalImage","Common", new {prodId=@prod.Id,imageName=@prod.Images.FirstOrDefault(i=>i.MainImage)?.Name, area="" })" />
            </div>
            <div>@prod.Price</div>
            <div>
                <a href="@Url.Action("EditProduct","Product",new {id=prod.Id, shopId=Model.ShopId, area="Product" })">Edit</a>
            </div>
            <div>
                <a href="@Url.Action("DeleteProduct","Product",new {id=prod.Id , shopId=Model.ShopId,area="Product"  })">Delete</a>
            </div>
        </div>
    }
    <div>
        <a href="@Url.Action("CreateProduct","Product",new {area="Product"})">Add New Product</a>
    </div>
</div>
