<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BozonStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
    <link rel="stylesheet" href="~/css/catalog.css">
    <link rel="stylesheet" href="~/css/navbar.css" />
</head>
<body>
    <header>
        <nav class="navbarfixation navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container">
                <div class="navbar-bozon-title">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Content/Site/Header/BozonTitle.png" />
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-search">
                    <div>
                        <catalog></catalog>
                    </div>
                    <div>
                        <form asp-area="" asp-controller="Home" asp-action="TitleSearch">
                            <input type="text" name="title" />
                            <input class="nav-item" type="submit" value="" />
                        </form>
                    </div>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex navbar-user-options">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">
                            <img src="~/Content/Site/Header/login.png" />
                            <p style="font-size:small">Войти</p>
                        </a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">
                            <img src="~/Content/Site/Header/registration.png" />
                            <p style="font-size:small">Регистрация</p>
                        </a>
                    }
                    else
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="PersonalPage">
                            <img src="~/Content/Site/Header/person.png" />
                            <p style="font-size:small">@User.Identity.Name</p>
                        </a>
                        if (@User.IsInRole("Buyer"))
                        {
                            <a class="nav-link text-dark" asp-area="User" asp-controller="Buyer" asp-action="Index">
                                <img src="~/Content/Site/Header/purchase.png" />
                                <p style="font-size:small">Корзина</p>
                            </a>
                        }
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">
                            <img src="~/Content/Site/Header/login.png" />
                            <p style="font-size:small">Выйти</p>
                        </a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BozonStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
